{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = 'Administration » Overview' %}

{% block body %}
    <h1>Korobi Administration &raquo; Overview</h1>
    <div>
        <h3>Resources</h3>
        <a href="https://github.com/korobi/Internal/wiki">Administrative documentation</a>
    </div>
{% endblock %}
