{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Docs" %}

{% block head %}
    <base href="{{ url('docs') }}/">
{% endblock %}

{% block body %}
    <div class="docs">
        {% if pageName != "index" %}
            <a href="{{ path('docs') }}">Return to docs index</a>
        {% endif %}
        <section>
            {{ content | raw }}
        </section>
    </div>
{% endblock %}
