{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Docs" %}

{% block body %}
    <h1>Documentation Index</h1>
    <iframe seamless sandbox src="/docs/index" class="docs" width="100%" scrolling="no">
        Your browser does not support iframes.
        iframes are used in this section to sandbox the markdown-rendered content that is the documentation.
    </iframe>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            console.log("The doc is ready");
            $('iframe').iFrameResize({log: true, resizedCallback: function(data) {
                alert("It has been done.");
            }});
        });
    </script>
{% endblock %}
