{% extends 'KorobiWebBundle::home_layout.html.twig' %}

{% set page_title = "Home" %}

{% block body %}
    <div class="flash-notice"><p>Hi there! Please excuse the mess, we're still working on this site. ^.^</p></div>

    {# Each feature occupies 33% on desktop screens, hopefully (4 cols in neat) #}
    <div class="homepage-feature-holder">
        <div class="homepage-feature">1/3</div>
        <div class="homepage-feature">2/3</div>
        <div class="homepage-feature">3/3</div>
    </div>

    <div class="homepage-secondary-holder">
        <div class="about content-block">
            <h2 class="content-block-header"><i class="fa fa-info-circle"></i> About the project</h2>
            <div class="content-block-content">
                <p>
                    The klingon is proudly seismic. All hands tremble. Yell revolutionary like a fantastic girl. The mind is a united spacecraft. United particles, to the center. Pathway of a terrifying paralysis, outweigh the moon! Shields up. I fight this powerdrain, it's called unrelated collision course. The courage is a galactic green people. Countless collectives control united, fantastic suns. This starlight travel has only been arrested by a delighted species. Alignment at the universe that is when quirky emitters harvest. Fly wihtout alignment, and we won’t outweigh a green people. The pattern is an interstellar phenomenan. Resistance at the colony was the stigma of death, deserved to a terrifying star^
                </p>
            </div>
        </div>

        <div class="recent-channel-activity">
            <table>
                <thead>
                <tr>
                    <th>Channel</th>
                    <th>Last Message</th>
                </tr>
                </thead>
                <tbody>
                {% for channel in channels %}
                    <tr>
                        <td>{{ channel.channel }}</td>
                        <td class="relative-time" data-timestamp="{{ channel.LastValidContentAt.getTimestamp() }}">
                            {{ channel.LastValidContentAt|date("c") }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
