{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Home" %}

{% block body %}
    Welcome home, darling.

    <p class="irc-inverted" style="background-color: inherit; color: red;">I'm inverted!</p>
{% endblock %}
