{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Revisions" %}

{% block body %}
    <h1>Korobi/Web</h1>
    <center>
        <img src="https://i.imgur.com/GGnKRen.gif">
        <p>Excuse the mess while we try to get things working.</p>
        <img src="https://31.media.tumblr.com/d44c35ab3361fb91652c3b65fca504fb/tumblr_n6cdy1Q2k51tcxb8so1_250.gif" width="500" height="500" />
    </center>
{% endblock %}
