{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Style guide" %}

{#
                     __          __              _             _
                     \ \        / /             (_)           | |
                      \ \  /\  / /_ _ _ __ _ __  _ _ __   __ _| |
                       \ \/  \/ / _` | '__| '_ \| | '_ \ / _` | |
                        \  /\  / (_| | |  | | | | | | | | (_| |_|
                         \/  \/ \__,_|_|  |_| |_|_|_| |_|\__, (_)
                                                          __/ |
                                                         |___/
#}
{# **Many many bad things will happen if you try to run a formatter on this file** #}

{% block body %}
    <h1>Frontend style guide</h1>
    <p>This page aims to showcase the UI components available and provide some guidance on a consistent approach to
        styling. This page is inspired by <a href="https://github.com/styleguide/css/">GitHub's style guide</a>.</p>

    <h2>Colours and fonts</h2>
    <p>The primary colour for the system is &ldquo;Midnight Blue&rdquo;:</p>
    <div class="colour-block primary">
        Midnight Blue (#2c3e50)
    </div>
    <!-- "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif -->
    <p>
        At present, the font-family is set to try <span style="font-family: 'Helvetica Neue'">Helvetica Neue</span>,
        <span style="font-family: 'Helvetica'">Helvetica</span>, <span style="font-family: 'Roboto'">Roboto</span>,
        <span style="font-family: 'Arial'">Arial</span> and <span style="font-family: 'sans-serif'">the fallback sans-serif</span>.
    </p>

    <h2>Available components</h2>
    <p>The styles are all written using SASS and a number of reusable components are available in order to make
        developing new pages easier.</p>

    <h3>Tables</h3>
    <p>These are relatively simple and look good on both the light and dark themes. There are no special classes required,
    just write valid table markup and they'll automatically be styled.</p>
    <pre><code class="language-markup">&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Fruit&lt;/th&gt;
            &lt;th&gt;Rating&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;Banana&lt;/td&gt;
            &lt;td&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Apple&lt;/td&gt;
            &lt;td&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
    <p>The above code results in the following table:</p>
    <table>
        <thead>
        <tr>
            <th>Fruit</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Banana</td>
            <td><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
        </tr>
        <tr>
            <td>Apple</td>
            <td><i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
        </tr>
        </tbody>
    </table>
    <h3>Code blocks</h3>
    <p>Powered by <a href="http://prismjs.com">Prism</a>, these blocks are great for showcasing code.
        Their main purpose is on this page, but they're super easy to include in any page. To get started, you'll want a
        <code class="language-markup">&lt;pre&gt;</code> element which acts as a wrapper for code blocks. If you'd
        prefer an inline block, you can leave this out. Next, the actual code should go inside a <code
                class="language-markup">&lt;code&gt;</code> element. The class should be set to "language-{language}"
        where language is one of markup, twig, css, clike, javascript or scss.
    </p>
    <p><strong>Note:</strong> The code should be entity encoded, especially if it's HTML. See the example below:</p>
    <pre><code class="language-markup">&lt;pre&gt;&lt;code class=&quot;language-markup&quot;&gt;&amp;lt;strong&amp;gt;My markup here!&amp;lt;/strong&amp;gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
    <p>The above yields the following result:</p>
    <pre><code class="language-markup">&lt;strong&gt;My markup here!&lt;/strong&gt;</code></pre>

    <h3>Flash messages</h3>
    <p>Mainly useful for displaying to users just after they've completed an action or submitted a form, these come in a
        variety of different colours and are easy to customise.</p>

    <pre><code class="language-markup">&lt;div class=&quot;flash-success&quot;&gt;&lt;p&gt;This is a success message&lt;/p&gt;&lt;/div&gt;
&lt;div class=&quot;flash-notice&quot;&gt;&lt;p&gt;This is a notice message&lt;/p&gt;&lt;/div&gt;
&lt;div class=&quot;flash-alert&quot;&gt;&lt;p&gt;This is an alert message&lt;/p&gt;&lt;/div&gt;
&lt;div class=&quot;flash-error&quot;&gt;&lt;p&gt;This is an error message&lt;/p&gt;&lt;/div</code></pre>

    <p>The above code results in the following:</p>
    <div class="flash-success"><p>This is a success message</p></div>
    <div class="flash-notice"><p>This is a notice message</p></div>
    <div class="flash-alert"><p>This is an alert message</p></div>
    <div class="flash-error"><p>This is an error message</p></div>

    <h3>Content blocks</h3>
    <p>Useful for sidebar items and simply separating parts of a page into distinct groups, content blocks have a block header.
        Combined with Neat, these can take up only part of the page.</p>
    <p>The following code creates a relatively simple content block with an icon in the title.</p>
<pre><code class="language-markup">&lt;div class=&quot;example-container&quot;&gt;
    &lt;div class=&quot;content-block&quot;&gt;
        &lt;h1&gt;&lt;i class=&quot;fa fa-pencil&quot;&gt;&lt;/i&gt; My title&lt;/h1&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;p&gt;
                The kraken fears with urchin, break the pacific ocean before it screams.
                The rum hails with power, drink the pacific ocean before it travels.
                Treasure is a rainy lass. Weird, old skiffs fiery crush a jolly, misty shore.
                The skull hoists with strength, hail the seychelles before it sings.
                clouds travel with hunger.
            &lt;/p&gt;
            &lt;p&gt;
                The kraken fears with urchin, break the pacific ocean before it screams.
                The rum hails with power, drink the pacific ocean before it travels.
                Treasure is a rainy lass. Weird, old skiffs fiery crush a jolly, misty shore.
                The skull hoists with strength, hail the seychelles before it sings.
                clouds travel with hunger.
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

    <p>Some small SASS is used to tell Neat to make the content block sit in a container which occupies 6 columns:</p>
    <pre><code class="language-scss">.example-container {
    @include span-columns(8);
}</code></pre>
    <p>This results in the following:</p>
    <div class="example-container">
        <div class="content-block">
            <h1><i class="fa fa-pencil"></i> My title</h1>
            <div class="content">
                <p>
                    The kraken fears with urchin, break the pacific ocean before it screams.
                    The rum hails with power, drink the pacific ocean before it travels.
                    Treasure is a rainy lass. Weird, old skiffs fiery crush a jolly, misty shore.
                    The skull hoists with strength, hail the seychelles before it sings.
                    clouds travel with hunger.
                </p>
                <p>
                    The kraken fears with urchin, break the pacific ocean before it screams.
                    The rum hails with power, drink the pacific ocean before it travels.
                    Treasure is a rainy lass. Weird, old skiffs fiery crush a jolly, misty shore.
                    The skull hoists with strength, hail the seychelles before it sings.
                    clouds travel with hunger.
                </p>
            </div>
        </div>
    </div>
    <h3>Tooltips</h3>
    <p>Useful for displaying contextual information, these support full HTML and are toggled on hover.</p>
    <pre><code class="language-markup">&#x3C;abbr title=&#x22;&#x3C;strong&#x3E;Bold test&#x3C;/strong&#x3E;&#x22; rel=&#x22;tooltip&#x22;&#x3E;Tooltip&#x3C;/abbr&#x3E;</code></pre>
    <p>The above code produces the following:</p>
    <p><abbr title="<strong>Bold test</strong>" rel="tooltip">Tooltip</abbr></p>

    <h3>Buttons (SASS library)</h3>
    <p>
        <a href="#" class="button button-rounded button-flat">press me</a>
        <a href="#" class="button button-rounded button-flat-primary">press me</a>
        <a href="#" class="button button-rounded button-flat-action">press me</a>
        <a href="#" class="button button-rounded button-flat-caution">press me</a>
    </p>
    <p>
        <a class="button button-jumbo" href="#">Press me</a>
        <a class="button button-large" href="#">Press me</a>
        <a class="button button-small" href="#">Press me</a>
        <a class="button button-tiny" href="#">Press me</a>
    </p>
    <p>
        <input type="submit">
    </p>

{% endblock %}
