{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Not Found" %}

{% block body %}
    <div class="errorpage">
        <h2>Not Found</h2>
        <p>The search and rescue crew has returned exhausted and unsuccessful.</p>
    </div>
{% endblock %}
