{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Logs - " ~ channel_name ~ " on " ~ network_name %}

{% block body %}
    <div class="logs">
        {% for message in logs %}
            <span class="logs--line" data-line-num="{{ loop.index }}"><a href="#L{{ loop.index }}"><i class="fa fa-paper-plane"></i></a> {{ message|raw }}</span>
        {% endfor %}
    </div>
{% endblock %}
