{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = 'About' %}

{% block body %}
    <h1>What is Korobi?</h1>
    <p>
        Korobi was created as a replacement for qtpi (an older, PHP-based web logging system which had become
        difficult to maintain) in January of 2015. The name originates from a Naruto character. Work originally began
        on writing the web side of the project using Laravel and MySQL. In February, this was changed to use
        Symfony and the MongoDB database system. The original logging bot was written in Java using the PircBotX
        framework. The logging bot collected its first data on March 1st and was then rewritten in late March to use
        the <a href="https://github.com/KittehOrg/KittehIRCClientLib">KittehIRCClientLibrary</a> which has been in
        use since. The aim of the project is to provide those who use IRC regularly with useful tools including
        logging, commands, channel moderation features, statistics and more.
    </p>

    <p>
        The project is worked on by a handful of developers with varying degrees of experience working with Symfony,
        MongoDB, Twig, SASS and the other technologies in use (see below for a list). Development discussions are
        carried out in the <a href="{{ path('channel', {'channel': "#korobi", 'network': "esper"}) }}">#korobi</a>
        channel on the <a href="https://esper.net/">EsperNet</a> IRC network.
    </p>

    <h1>The team</h1>
    lol768 note: SVG flags next to names here might be neat.
    <div class="team-holder">
        <div class="thumbnail">
            <img src="/assets/images/about/team/kashike.jpg">
            <div class="caption">
                <h3>kashike <img src="/assets/images/flags/canada.svg" class="flag"></h3>
                <p>meow</p>
            </div>
        </div>
        <div class="thumbnail">
            <img src="/assets/images/about/team/lol768.png">
            <div class="caption">
                <h3>lol768 <img src="/assets/images/flags/england.svg" class="flag"></h3>
                <p>I'm from England and I break things, usually server-side (PHP). I use PHPStorm, vim and i3wm heavily on my local machine. I like drinking coffee, solving problems and talking on IRC. <!-- I'm also terrible at writing descriptions of myself --></p>
            </div>
        </div>
        <div class="thumbnail">
            <img src="/assets/images/about/team/bendem.jpg">
            <div class="caption">
                <h3>bendem <img src="/assets/images/flags/belgium.svg" class="flag"></h3>
                <p>I'm a belgian developer, I love reinventing the wheel again and again, eating carrots and helping people.</p>
            </div>
        </div>
        <div class="thumbnail">
            <img src="/assets/images/about/team/zarthus.jpg">
            <div class="caption">
                <h3>Zarthus <img src="/assets/images/flags/netherlands.svg" class="flag"></h3>
                <p><em>The Dutch would have conquered the world already<a href="https://what-if.xkcd.com/53/">[1]</a><a href="https://what-if.xkcd.com/54/">[2]</a> if he only spent half the time he spent procrastinating dedicated to programming and world domination.</em></p>
            </div>
        </div>
        <div class="thumbnail">
            <img src="/assets/images/about/team/jamierocks.png">
            <div class="caption">
                <h3>jamierocks <img src="/assets/images/flags/england.svg" class="flag"></h3>
                <p>British. Programmer. Also the one and only documentation master-mind.</p>
            </div>
        </div>
    </div>

    <h1>The technologies</h1>
    <p>
        We rely on a variety of different languages and tools to power the site, IRC bot, database, statistics and
        documentation. We've tried to make an exhaustive list below but there may be some missing items.
    </p>

    <ul>
        <li>Frontend

            <ul>
                <li>jQuery</li>
                <li>SASS (primarily using SCSS syntax)</li>
                <li>Bourbon, bitters, neat, refills</li>
                <li>SubtlePatterns</li>
                <li>FontAwesome</li>
                <li>PrismJS</li>
                <li>DatePicker</li>
                <li><em>The buttons library I can't remember the name of</em></li>
                <li><em>Tooltips?</em></li>
            </ul>
        </li>
        <li>Backend

            <ul>
                <li>PHP</li>
                <li>Symfony2</li>
                <li>Doctrine

                    <ul>
                        <li>MongoDB</li>
                        <li>MongoDB ODM</li>
                        <li>MongoDB ODM Bundle</li>
                        <li>Fixtures Bundle</li>
                    </ul>
                </li>
                <li>bash</li>
                <li>nginx</li>
                <li>MongoDB</li>
                <li>InfluxDB</li>
                <li>pisg</li>
            </ul>
        </li>
        <li>Collaboration
            <ul>
                <li>Git</li>
                <li>GitHub</li>
                <li>IRC (EsperNet)</li>
            </ul>
        </li>
        <li>IRC

            <ul>
                <li>Java 8</li>
                <li>KICL</li>
                <li>guava</li>
                <li>commons-lang3</li>
                <li>log4j2</li>
                <li>joda-time</li>
                <li>prettytime</li>
                <li>configurate-hocon</li>
                <li>intake</li>
                <li>unirest-java</li>
                <li>spark-core</li>
                <li>jsoup</li>
                <li>egit</li>
            </ul>
        </li>
        <li>Docs

            <ul>
                <li>Sphinx + custom theme</li>
                <li>GitHub pages for hosting</li>
            </ul>
        </li>
    </ul>
{% endblock %}
