{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = 'Search Results' %}

{% block body %}
    <h1>Search Results</h1>
    <section class="search-results">
        <article class="search-result-item">
            <h2>esper:#korobi on 2015-09-06</h2>
            <figure>
                <p>Rendered chat message here</p>
                <figcaption>Sent at <time datetime="2015-09-061T23:59:05Z">23:59:05 UTC</time> by @Korobi</figcaption>
            </figure>
        </article>
    </section>

{% endblock %}
