html {
  position: relative;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $bodyBackgroundImage repeat;
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  margin-bottom: $footerHeight;
}

main {
  @include outer-container;
  margin-top: 1em;
}
