//noinspection CssUnknownTarget
$bodyBackgroundImage: url("/assets/images/bg.png");

// Midnight blue: #2c3e50, Amethyst: #9b59b6, Wisteria: #8e44ad
$primaryColour: #2c3e50;

// footer
$footerHeight: 39px;
$footerBackgroundColour: $primaryColour;
$footerColor: #eee;

$base-font-color: #eee;
$base-font-size: 1em;
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-font-family: $helvetica;
$base-line-height: 1.5;
