//            White   Black   Blue    Green   LRed    Brown   Purple  Orange  Yellow  LGreen  Cyan    LCyan   LBlue   Pink    Grey    LightGrey
$irc-colors: #ffffff #555753 #3465a4 #4e9a06 #ef2929 #cc0000 #75507b #c4a000 #fce94f #8ae234 #06989a #34e2e2 #729fcf #ad7fa8 #555753 #d3d7cf;

// Generates all the classes for the IRC colours
@function leading_zero($n) {
  @if $n < 10 {
    @return "0" + $n
  } @else {
    @return $n
  }
}

@for $i from 0 through 15 {
  @for $x from 0 through 15 {
    .irc--#{leading_zero($i)}-#{leading_zero($x)} {
      color: nth($irc-colors, $i+1);
      background-color: nth($irc-colors, $x+1);
    }

    .irc--#{leading_zero($i)}-#{leading_zero($x)}-inverted {
      background-color: nth($irc-colors, $i+1);
      color: nth($irc-colors, $x+1);
    }
  }

  .irc--#{leading_zero($i)}-df {
    background-color: transparent;
    color: nth($irc-colors, $i+1);
  }

  .irc--df-#{leading_zero($i)} {
    background-color: nth($irc-colors, $i+1);
    color: #eee;
  }
}
