.controls {
  @include display(flex);
  @include justify-content(space-between);

  .toggles {
    padding: 0;
    margin: 0 0.3em 0 0;

    li {
      display: inline-block;

      input {
        display: none;

        & + label {
          padding-left: 0.8em;
          margin-bottom: 0.2em;

          &:before {
            content: '\f096';
            font-family: FontAwesome;
            display: inline-block;
            width: 1.1em;
            text-align: left;
          }
        }

        &:checked + label {
          @include transition-duration(0s);
          background: desaturate(#FFFFFF, 5%);
          color: darken(#2c3e50, 10%);

          &:before {
            content: '\f046';
          }
        }
      }
    }
  }

  .right {
    text-align: right;
    position: relative;

    > * {
      margin-bottom: 0.2em;
    }

    .button-group {
      vertical-align: top;
      white-space: nowrap;
      font-size: 0;

      > .button {
        font-size: 1rem;
        float: none;
        display: inline-block;
      }

      [disabled] {
        pointer-events: none;
      }
    }

    input {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }
}

$actions: action join kick message mode nick part quit topic;

@each $action in $actions {
  #logs[data-event-hidden*=#{$action}] .line[data-event-type=#{$action}] {
    display: none;
  }
}

.datepicker .has-data:after {
  content: ' ';
  display: block;
  margin: auto;
  position: relative;
  top: -4px;

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: green;
}
