{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ ' on ' ~ network_name ~ ' - Stats' %}

{% block body %}
    <h1>Stats for {{ channel_name }} on {{ network_name }}</h1>
    <div class="logs">
        {% if data is empty %}
            <div class="empty">Sorry, no stats are available for the requested channel.</div>
        {% else %}
            {% autoescape false %}
                {{ data|raw }}
            {% endautoescape %}
        {% endif %}
    </div>
{% endblock %}
