# composer
/vendor/
/composer.phar

# cs fixer
.php_cs.cache

# symfony
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/sessions/*
!/app/sessions/.gitkeep
/app/phpunit.xml
/bin/
/build/
/src/Korobi/WebBundle/Document/*.php~
/web/assetic/*
/web/assets/css/
!/web/assets/css/.gitkeep
/web/assets/js/
!/web/assets/js/.gitkeep
/web/bundles/

# Maintenance file
src/Korobi/WebBundle/maintenance

# intellij
/.idea/
*.iml
*.ipr
*.iws

# node.js
/node_modules/
/npm-debug.log

# I'm too sassy for you.
/.sass-cache/

# Bundler
.bundle
ruby

# Vagrant
.vagrant

