# composer
/vendor/
/composer.phar

# cs fixer
.php_cs.cache

# symfony
/app/config/parameters.yml
/bin/*
!bin/console
!bin/symfony_requirements
/build/
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/web/bundles/

# application
/src/Korobi/WebBundle/Document/*.php~
/src/Korobi/WebBundle/maintenance
/web/assetic/*
/web/assets/css/
!/web/assets/css/.gitkeep
/web/assets/js/
!/web/assets/js/.gitkeep

# intellij
/.idea/
*.iml
*.ipr
*.iws

# node.js
/node_modules/
/npm-debug.log

# I'm too sassy for you.
/.sass-cache/

# Bundler
.bundle
ruby

# Vagrant
Vagrantfile
.vagrant

