# composer
/vendor/
/composer.phar

# symfony
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/build/
/src/Korobi/WebBundle/Document/*.php~
/web/assets/css/
!/web/assets/css/.gitkeep
/web/assets/js/
!/web/assets/js/.gitkeep
/web/bundles/

# intellij
/.idea/
*.iml
*.ipr
*.iws

# node.js
/node_modules/
/npm-debug.log

# sass
/.sass-cache/
