{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Log" %}

{% block body %}
    <div class="logs">
        {% for message in logs %}
            <span class="logs--line" data-line-num="{{ loop.index }}">{{ message|raw }}</span>
        {% endfor %}
    </div>
{% endblock %}
