<footer class="footer">
    <div class="footer--inner">
        <div class="footer--copyright">&copy; {{ 'now'|date('Y') }}, korobi.io team &ndash; <div class="footer--revision"><i class="fa fa-code-fork"></i> Korobi/Web ({{ gitInfo.getShortHash() }}) on {{ gitInfo.getBranch() }}</div></div>
        <ul class="footer--links" role="menubar">
            {% spaceless %}
                {% for item in navigation.getFooter() %}
                    {{ nav.nav_link(item) }}
                {% endfor %}
            {% endspaceless %}
            {% if not app.user %}
                <li><a href="/auth/connect/github" rel="nofollow">Login</a></li>
            {% else %}
                <li><a href="/auth/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</footer>
