// form styles right now are pretty bad, this just makes things usable.

.channel-key-entry {
  input {
    height: 2rem;

    &[type=text] {
      padding: 0.5rem;
      background-color: #333;
      color: #fff;
      border: none;
      width: 50%;
      margin-right: 0.5rem;
      display: inline-block;
      border-radius: 4px;

      &:invalid {
        box-shadow: none;

        &:focus {
          border: 1px solid #aa3333;
        }
      }
    }
  }
}

.vertical-form {
  label, input {
    display: block;
  }
}
