<footer class="footer">
    <div class="footer--inner">
        <p class="footer--copyright">&copy; {{ "now"|date("Y") }} &ndash; <i class="fa fa-code-fork"></i> Korobi/Web ({{ gitInfo.getShortHash() }}) on {{ gitInfo.getBranch() }} &ndash; <a href="/theme"><i class="fa fa-adjust"></i></a></p>
        <ul class="footer--links">
            {% spaceless %}
                {% for item in navigation.getFooter() %}
                    {{ nav.nav_link(item) }}
                {% endfor %}
            {% endspaceless %}
            {% if not app.user %}
                <li><a href="/auth/connect/github">Login</a></li>
            {% else %}
                <li><a href="/auth/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</footer>
