<footer class="footer">
    <div class="footer--inner">
        <p class="footer--copyright">&copy; 2015</p>
        <ul class="footer--links">
            <li><a href="#">A link</a></li>
        </ul>
    </div>
</footer>
