<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a href="/" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
        </a>
        <button class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></button>
        <nav role="navigation">
            <ul id="navigation-menu-js">
                <li class="nav-link"><a href="#">Products</a></li>
                <li class="nav-link"><a href="#">About Us</a></li>
                <li class="nav-link"><a href="#">Contact</a></li>
                <li class="nav-link more"><a href="#">More</a>
                    <ul class="submenu">
                        <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Another Item</a></li>
                        <li class="more"><a href="#">Item with submenu</a>
                            <ul class="submenu">
                                <li><a href="#">Sub-submenu Item</a></li>
                                <li><a href="#">Another Item</a></li>
                            </ul>
                        </li>
                        <li class="more"><a href="#">Another submenu</a>
                            <ul class="submenu">
                                <li><a href="#">Sub-submenu</a></li>
                                <li><a href="#">An Item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="navigation-auth">
            <a href="#" class="sign-up">Sign Up</a>
        </div>
    </div>
</header>
