<nav class="navigation" role="navigation">
    <div class="navigation--inner">
        <div class="navigation--brand-mobile">
            <a href="/" class="navigation--brandlink navigation--brandlink-mobile">{{ app_name }}</a>
        </div>
        <div class="navigation--brand">
            <a href="/" class="navigation--brandlink" role="menuitem">{{ app_name }}</a>
            <i class="navigation--menutoggle fa fa-navicon"></i>
        </div>
        <ul class="navigation--links">
            <li class="active">
                <a href="#" role="menuitem">Active item</a>
            </li>
            <li>
                <a href="#" role="menuitem">Inactive item</a>
            </li>
        </ul>
        <ul class="navigation--links navigation--links-secondary">
            <li class="active">
                <a href="#" role="menuitem">Secondary active item</a>
            </li>
        </ul>
    </div>
</nav>
