.channel-list {
  td, th {
    &:last-child {
      text-align: right;

      a {
        padding: 0.1em 0.4em;

        &:before {
          margin-right: 0.5em;
        }
      }
    }
  }
}

.private-channel-icon {
  color: #D0CE53 !important;

  &.inline {
    margin-left: .2em;
  }

  &.super {
    font-size: 60%;
    margin-left: -.3em;
    vertical-align: super;
  }
}
