// Midnight blue: #2c3e50, Amethyst: #9b59b6, Wisteria: #8e44ad
$primaryColour: #2c3e50;

//noinspection CssUnknownTarget
$bodyBackgroundImage: url("/assets/images/bg.png?a");

$footerHeight: 2em;
$footerBackgroundColour: $primaryColour;
$footerColor: #eee;

$font-size-base: 14px !default;
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$visual-grid: true;
$mobile: 68em;
