.docs {
  width: 100%;
  text-align: justify;
  padding: 1em;
  border-radius: 0.3em;
  background-color: #141414;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

  code {
    background-color: #333;
    border-radius: 0.3em;
    padding: 0.15em 0.3em;
    font-weight: bold;
  }

  h1, h2, h3, h4 {
    .headerlink {
      margin-left: 0.2em;
      color: transparent;

    }

    &:hover .headerlink {
      color: #477DCA;
    }
  }


  .admonition {
    &.warning {
      @extend .flash-error;
    }
    &.note {
      @extend .flash-notice;
    }
  }
}
