// Homepage styles! :D

// animation

@include keyframes(logScroller) {
  0% {
    transform: translate3d(0, 0, 0);
  }
  55% {
    // 35vh: .hero padding,
    // 1rem: .hero h1 padding,
    // 1rem: .hero h1 line-height (5 * 1.2),
    // 5rem: .hero h1 font-size,
    // 4px: borders
    transform: translate3d(0, calc(0px - 100% + 35vh + 7rem + 4px), 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.hero {
  width: 100%;
  padding: 30vh 0 5vh;
  margin-bottom: 5vh;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: right;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 5px #000;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;

  .logs {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    text-align: left;
    @include animation(logScroller 30s linear);
    // This animation should only play infinity
    @include animation-iteration-count(infinite);
    @include animation-fill-mode(forwards);

    @include filter(
        blur(1px)
        saturate(1.7)
    );
  }

  h1 {
    display: inline-block;
    font-size: 5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0.5rem calc((100vw - #{$main-width}) / 2 + 1rem) 0.5rem 0.3em;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);

    @media (max-width: $main-width) {
      & {
        padding-right: 1rem;
      }
    }

    small {
      font-size: 1.5rem;
      font-weight: normal;
      white-space: nowrap;
    }
  }
}

.logs-header::before {
  content: "\f0e6";
}

.commands-header::before {
  content: "\f120";
}

.stats-header::before {
  content: "\f1fe";
}

.homepage-feature {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
  text-align: center;
  i {
    font-size: 2em;
  }

  h2 {
    margin-top: 0;
  }

  h2::before {
    margin-right: 0.3em;
    font-family: 'FontAwesome';
  }
}

.homepage-feature-holder, .homepage-secondary-holder {
  @include outer-container;
}

.homepage-secondary-holder .recent-channel-activity, .homepage-secondary-holder div.about {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.homepage-feature-holder {
  margin-bottom: 0.75em;
}

.homepage-secondary-holder table {
  border: 1px solid rgb(85, 85, 85);
  margin: 0 0 0.75em;
  width: 100%;
  border-collapse: separate;
  border-radius: 0.3em;

  th {
    border-bottom: 1px solid rgb(85, 85, 85);
    line-height: 1.2;
  }
}
