// Homepage styles! :-D

.homepage-feature {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.homepage-feature-holder, .homepage-secondary-holder {
  @include outer-container;
}

.homepage-secondary-holder .recent-channel-activity, .homepage-secondary-holder div.about {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.homepage-feature-holder {
  margin-bottom: 0.75em;
}

.homepage-secondary-holder table {
  border: 1px solid rgb(85, 85, 85);
  margin: 0 0 0.75em;
  width: 100%;
  border-collapse: separate;
  border-radius: 0.3em;
}
