table {
  table-layout: auto;

  thead > tr {
    &:first-child > th:first-child { border-top-left-radius: 0.3em; }
    &:first-child > th:last-child { border-top-right-radius: 0.3em; }

    & > th {
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
    }
  }

  tbody > tr {
    &:last-child > td:first-child {
      border-bottom-left-radius: 0.3em;
    }

    &:last-child > td:last-child {
      border-bottom-right-radius: 0.3em;
    }
  }

  tr {
    &:nth-child(2n+1) > td {
      background-color: rgba(25, 25, 25, 0.8);
    }

    td {
      background-color: rgba(0,0, 0, 0.4);
      border-bottom: none;
    }
  }

  td, th {
    padding: 1em;
  }
}
