# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # GitHub OAuth authentication
    github_client_id: ~
    github_client_secret: ~
    github_hook_hmac_secret: ~
    github_oauth_token: ~

    # Camo server
    camo_key: ~
    camo_domain: ~

    # Akio IRC notifications data
    akio_enabled: false
    akio_path: ~
    akio_key: ~

    # bin paths
    sass_path: ~
    uglifyjs_path: ~

    # channel stats base path
    channel_stats_root: ~

    # influx details
    influx_host: 127.0.0.1
    influx_port: 8086
    influx_user: user
    influx_pass: pass
    influx_db: database
