@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

.logs {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 3px;
}

.logs--line {
  display: block;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
  @include transition(0.25s all);
}

.logs--line.highlighted {
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.30);
}

.js-hl .fa {
  cursor: pointer;
}

body.light .logs {
  background-color: #ddd;

  .logs--line.highlighted {
    background-color: rgba(255, 239, 0, 0.75);
  }
}
