{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = network_name %}

{% block body %}
    <h1>{{ network_name }}</h1>
    {% if all_channels_private %}
    <p>Sorry, but it appears as if all channels on this network are private.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Channel</th>
            </tr>
        </thead>
        <tbody>
        {% for name, url in channels %}
            <tr>
                <td><a href="{{ url }}">{{ name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
