{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Channel feature unavailable" %}

{% block body %}
    <h1>Channel feature unavailable</h1>
    <p>{{ exception.message }}</p>
{% endblock %}
