{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Channel feature unavailable" %}

{% block body %}
    <h1>Channel feature unavailable</h1>
    <p>The requested feature &ldquo;{{ exception.feature }}&rdquo; for channel &ldquo;{{ exception.channel }}&rdquo; on network &ldquo;{{ exception.network }}&rdquo; is unavailable.</p>
{% endblock %}
