{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Commands" %}

{% block body %}
    {% for channel in channels %}
        <a href="{{ channel.href }}">{{ channel.name }}</a>
    {% endfor %}
{% endblock %}
