{% macro git_info(info) %}
    {# Why is this a macro? #}
    {# We used to have a bit of logic in here relating to whether the user's an admin or not (admins got shiny links!) #}
    {# Now everyone gets shiny links :D #}
    <div class="footer--revision">
        <i class="fa fa-code-fork"></i> <a href="https://github.com/korobi">Korobi</a>/<a href="https://github.com/korobi/Web">Web</a>
        (<a href="https://github.com/korobi/Web/commit/{{ info.getHash() }}">{{ info.getShortHash() }}</a>) on <a href="https://github.com/korobi/Web/tree/{{ info.getBranch() }}">{{ info.getBranch() }}</a>
    </div>
{% endmacro %}
