main {
  @include outer-container;
  margin-top: 1em;
}

body {
  background-image: $bodyBackgroundImage;
  background-repeat: repeat;
}

i.fa {
  color: #eee;
}

body.light {
  background-image: none;
  color: #333;
  
  i.fa {
    color: #333;
  }
}





h1 {
  font-size: 0.75 * 2.5714285714285716em;
}
h2 {
  font-size: 0.75 * 2.142857142857143em;
}
h3 {
  font-size: 0.75 * 1.7142857142857142em;
}
h4 {
  font-size: 0.75 * 1.2857142857142858em;
}
h5 {
  font-size: 0.75 * 1em;
}
h6 {
  font-size: 0.75 * 0.8571428571428571em;
}
