// Midnight blue: #2c3e50, Amethyst: #9b59b6, Wisteria: #8e44ad
$primaryColour: #8e44ad;
$footerHeight: 39px;
$footerBackgroundColour: #ccc;
$footerColor: #333;
$bodyBackgroundImage: url("/assets/images/bg.png");
$irc-colors: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 127) rgb(0, 147, 0) rgb(255, 0, 0) rgb(127, 0, 0) rgb(156, 0, 156) rgb(252, 127, 0) rgb(255, 255, 0) rgb(0, 252, 0) rgb(0, 147, 147) rgb(0, 255, 255) rgb(0, 0, 252) rgb(255, 0, 255) rgb(127, 127, 127) rgb(210, 210, 210);

