// Midnight blue: #2c3e50, Amethyst: #9b59b6, Wisteria: #8e44ad
$primaryColour: #2c3e50;
$footerHeight: 39px;
$footerBackgroundColour: $primaryColour;
$footerColor: #eee;
$bodyBackgroundImage: url("/assets/images/bg.png?a");
//            Black   Blue   Green   LRed    Brown   Purple  Orange  Yellow  LGreen  Cyan    LCyan   LBlue   Pink    Grey    LightGrey
$irc-colors: #555753 #3465a4 #4e9a06 #ef2929 #cc0000 #75507b #c4a000 #fce94f #8ae234 #06989a #34e2e2 #729fcf #ad7fa8 #555753 #d3d7cf;
