$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$alert-color-dark: #F39C12 !default;

$error-color: #fbe3e4 !default;
$error-color-dark: #E74C3C !default;

$notice-color: #e5edf8 !default;
$notice-color-dark: #3498DB !default;

$success-color: #e6efc2 !default;
$success-color-dark: #00BC8C !default;

@mixin flash($color, $dark: false) {
  background-color: $color;
  @if ($dark) {
    color: #fff;
  } @else {
    color: darken($color, 60%);
  }

  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

body:not(.light) {
  .flash-alert {
    @include flash($alert-color-dark, true);
  }

  .flash-error {
    @include flash($error-color-dark, true);
  }

  .flash-notice {
    @include flash($notice-color-dark, true);
  }

  .flash-success {
    @include flash($success-color-dark, true);
  }
}
