// ---- taken from bootstrap ----
$form-gray-base: #000 !default;
$form-gray-dark: lighten($form-gray-base, 20%) !default; // #333
$form-text-color: $form-gray-dark !default;

// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten($form-text-color, 25%); // lighten the text some for contrast
}
// ---- thank you, bootstrap ----
