@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

.logs {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 3px;
}

.logs--line {
  display: block;
  font-weight: 400;
  font-family: 'Ubuntu Mono', monospace;
}

.logs--line.highlighted {
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.30);
}

body.light .logs {
  background-color: #ddd;
  .logs--line.highlighted {
    background-color: rgba(255, 239, 0, 0.75);
  }
}
