td {
  border-bottom: none;
}

tr {
  background-color: rgba(0, 0, 0, 0.5);
}

tr:nth-child(2n+1) {
  background-color: rgba(25, 25, 25, 0.8);
}

thead > tr,
thead > tr * {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

td,
th {
  padding: 1em;
}

table {
  table-layout: auto;
}

body.light {
  thead > tr, thead > tr * {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  tr:nth-child(2n+1) {
      background-color: rgba(25, 25, 25, 0.1);
  }

  tr {
      background-color: rgba(0, 0, 0, 0.2);
  }
}
